

body {
    --base-font: 'Fira Sans', sans-serif;
    --headings-font: 'Staatliches', cursive;

    font-family: var(--base-font);
    margin: 0;
}

* {
    box-sizing: border-box;
    transition: all 200ms ease;
}

h1, h2, h3, h4 {
    font-family: var(--headings-font);
}

.dashboard {
    display: grid;
    grid-template-areas: 
        "header header"
        "leftnav content"
        "footer footer";
    grid-template-columns: minmax(200px, 350px) 3fr;
    position: relative;
}

header {
    grid-area: header;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightpink;
    box-shadow: 0 5px 10px lightsalmon;
}

header h1.logo-title {
    margin: 0;
    padding: 10px;
    color: lightcoral;

}

.main-nav li {
    display: inline-block;
    padding: 5px;
    margin: auto 10px;
    background-color: #eee;
    cursor: pointer;
}

.main-nav li:hover, .main-nav li:active {
    background-color: lightcoral;
    color: white;
}

footer {
    grid-area: footer;
}

nav.left-nav {
    grid-area: leftnav;
    margin-left: 10px;
}

main {
    grid-area: content;
    max-width: 800px;
}

footer {
    padding: 10px;
    border-top: 1px solid lightpink;
}

nav.footer ul {
    padding: 0;
}

nav.footer li {
    display: inline-block;
    border-bottom: 2px solid lightsalmon;
    padding: 5px;
}